
.aboutContainer{
    background-color: #fff7f4;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aboutQoute{
    font-family: auto;
    color: #77717ef0;
    padding: 11px;
    font-size: 35px;
}
.aboutParagraph{
    padding:0 15px;
    font-family: inherit;
    font-size: 20px;
    color: darkslategray;

}
.aboutImg{
    width: 100%;
    height: 20rem;
}