<div class="aboutContainer">
    <h1>Life is a little brighter,<br>
        when it’s greener.</h1>
    <p class="aboutParagraph">The way your plant is grown matters. We work with the highest quality, family owned farms to hand select the healthiest plants to send to you. This means that when your plant arrives at your doorstep you'll be off to a great start.</p>
    <img class="aboutImg" src="https://cdn.sanity.io/images/y346iw48/production/c44f983f2505e7090c33303fb0756634e0d99511-2160x1944.jpg?w=1536&h=1382&auto=format">
</div>
