.headerContainer {
    height: 38%;
    width: 100%;
    position: relative;
    min-height: 268px;
}

.upperHeader {
    display: flex;
    gap: 19px;
    justify-content: space-between;
    padding: 10px;
    height: 21%;
    min-height: 74px;
}

.headerLeft {
    font-size: 36px;
    font-family: fangsong;
    color: #3d6364;
    font-style: italic;
    display: flex;
    gap:5px;
}

.headerImg {
    opacity: 0.8;
    object-fit: cover;
    width: 100%;
    height: 79%;
}

.introduction {
    color: rgb(61 99 100 / 94%);
    font-size: 19px;
    font-family: cursive;
}

.headerLeft:hover {
    cursor: pointer;
}

.headerRight {
    display: flex;
    gap: 19px
}

.signOutBtn {
    color: #3d6364;
    font-size: 16px;
}

.signOutBtn:hover {
    cursor: pointer;
}

.introContainer {
    display: flex;
    flex-direction: column;
}

.contactUs{
    min-width: 194px;
}