.adminContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.addProductBtn{
    margin: auto;
}

.actionBtns{
    margin-top:15px;
    display: flex;
    justify-content: center;
    gap:10px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red
}

select.ng-invalid.ng-touched{
    border: 1px solid red
}

.errorMsg{
    font-size: 13px;
}