.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin:10px;
}
.actionBtnsContainer{

    margin:auto;
}
.actionBtn {
    width: 60%;
}

input.ng-invalid.ng-touched{
    border: 1px solid red
}