.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffeee7;
    height: 100%;
}

.loginForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */

}

.actionBtnsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;

}

input.ng-invalid.ng-touched {
    border: 1px solid red
}

.sighUpBtn {
    color: blue;
    text-decoration: underline;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

.errorMsg{
    font-size: 13px;
}

.goToShopComponent{
    margin: auto;
}