.categoriesContainer{
display: flex;
}

.category{
    margin: 16px;
    font-family: cursive;
    font-size: 22px;
    color: #6b7176;
}
.selectedCategory{
color: #333536; 
}

button {
    all: unset;
    cursor: pointer;
  }
  
