.categoriesContainer{
display: flex;
}

.category{
    margin: 16px;
    font-family: cursive;
    font-size: 22px;

}
.selectedCategory{
    font-weight: bold;
    /* background-color:rgb(228, 168, 215); */
}
button {
    all: unset;
    cursor: pointer;
  }
  
