<form class="formContainer" [formGroup]="checkoutForm">
    <div class="subForm">
        <div class="subFormTitle">shipping details</div>
        <div>
            <label for="city">city</label>
            <select class="form-select" (dblclick)="ondblclickCity()" formControlName="city" >
                <option *ngFor="let city of cities" [ngValue]="city">
                    {{ city }}
                </option>
            </select>
            <span class="errorMsg" *ngIf="checkoutForm.get('city')?.status=='INVALID' &&  checkoutForm.get('city')?.touched">
                Please choose a city
            </span>
        </div>

        <div>
            <label for="street">Street</label>
            <input (dblclick)="ondblclickStreet()" type="text" id="street" formControlName="street"
                class="form-control">
            <span class="errorMsg" *ngIf="checkoutForm.get('street')?.status=='INVALID'  &&  checkoutForm.get('street')?.touched">
                Please enter a valid street
            </span>
        </div>

        <div>
            <label for="deliveryDate">deliveryDate</label>
            <input type="date" id="deliveryDate" formControlName="deliveryDate" class="form-control dateInput">
            <span class="errorMsg" *ngIf="checkoutForm.get('deliveryDate')?.status=='INVALID' &&  checkoutForm.get('deliveryDate')?.touched && !checkoutForm.get('deliveryDate')?.hasError('dateNotAvailable')">
                Please enter a valid shipping date
            </span>
            <span class="errorMsg" *ngIf="checkoutForm.get('deliveryDate')?.hasError('dateNotAvailable')">
                Sorry, this date is not available, please choose a different date
            </span>
        </div>
    </div>

    <div class="subForm">
        <div class="subFormTitle">Payments <fa-icon [icon]="faCreditCard"></fa-icon>
        </div>
        <div>
            <label for="creditCard">Credit Card</label>
            <input type="text" id="creditCard" formControlName="creditCard" class="form-control">
            <span class="errorMsg" *ngIf="checkoutForm.get('creditCard')?.status=='INVALID' &&  checkoutForm.get('creditCard')?.touched">
                Please enter a valid Credit Card
            </span>
        </div>

    </div>



    <button class="btn btn-primary" [disabled]="!checkoutForm.valid" (click)="onOrderClicked()">order</button>

</form>