input.ng-invalid.ng-touched {
    border: 1px solid red
}

.formContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px
}


.subForm {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.subFormTitle {
    font-size: 20px;
}