<form class="formContainer" [formGroup]="checkoutForm">
    <div class="subForm">
        <div class="subFormTitle">shipping details</div>
        <div>
            <label for="city">city</label>
            <select class="form-select" (dblclick)="ondblclickCity()" formControlName="city">
                <option *ngFor="let city of cities" [ngValue]="city">
                    {{ city }}
                </option>
            </select>
            <span *ngIf="checkoutForm.get('city').status=='INVALID' &&  checkoutForm.get('city').touched">
                Please choose a city
            </span>
        </div>

        <div>
            <label for="street">Street</label>
            <input (dblclick)="ondblclickStreet()" type="text" id="street" formControlName="street"
                class="form-control">
            <span *ngIf="checkoutForm.get('street').status=='INVALID'  &&  checkoutForm.get('street').touched">
                Please enter a valid street
            </span>
        </div>

        <div>
            <label for="deliveryDate">deliveryDate</label>
            <input type="date" id="deliveryDate" formControlName="deliveryDate" class="form-control">
            <span *ngIf="checkoutForm.get('deliveryDate').status=='INVALID' &&  checkoutForm.get('deliveryDate').touched">
                Please enter a valid shipping date
            </span>
        </div>
    </div>

    <div class="subForm">
        <div class="subFormTitle">Payments <fa-icon [icon]="faCreditCard"></fa-icon>
        </div>
        <div>
            <label for="creditCard">Credit Card</label>
            <input type="text" id="creditCard" formControlName="creditCard" class="form-control">
            <span *ngIf="checkoutForm.get('creditCard').status=='INVALID' &&  checkoutForm.get('creditCard').touched">
                Please enter a valid creditCard
            </span>
        </div>

    </div>



    <button class="btn btn-primary" [disabled]="!checkoutForm.valid" (click)="onOrderClicked()">order</button>

</form>