<div class="register2Container">

    <form [formGroup]="signupForm">

        <div class="form-group">
            <label for="city">city</label>
            <select formControlName="city">
                <option *ngFor="let city of cities" [ngValue]="city">
                    {{ city }}
                </option>
            </select>
            <span *ngIf="!signupForm.get('city').valid &&  signupForm.get('city').touched">
                Please choose a city
            </span>
        </div>

        <div class="form-group">
            <label for="street">Street</label>
            <input type="text" id="street" formControlName="street" class="form-control">
            <span *ngIf="!signupForm.get('street').valid &&  signupForm.get('street').touched">
                Please enter a valid street
            </span>
        </div>

        <div class="form-group">
            <label for="firstName"> First Name</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control">
            <span *ngIf="!signupForm.get('firstName').valid &&  signupForm.get('firstName').touched">
                Please enter a valid first Name
            </span>
        </div>

        <div class="form-group">
            <label for="lastName"> Last Name </label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control">
            <span *ngIf="!signupForm.get('firstName').valid &&  signupForm.get('firstName').touched">
                Please enter a valid last Name
            </span>
        </div>

        <button class="submitBtn" type="submit" (click)="onSubmitClicked()">Submit</button>

    </form>
</div>