.mainContainer {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.sideBar {
    width: 28%;
    border-top: 1px solid rgb(125, 158, 184);
    border-right: 1px solid rgb(125, 158, 184);

    padding: 10px;

}

.storeContainer {
    width: 71%;
    /* border-left: 1px solid rgb(125, 158, 184); */
    border-top: 1px solid rgb(125, 158, 184);
    padding: 20px;
}

.shoppingHeader{
    display: flex;
    margin: 25px;
    align-items: center;
    gap: 145px;
}

.searchContainer{
    width: 20%
}
.fullSizeStore{
    float: left;
    width: 100%;
    
  
}

.minimizeSideBar{
    display: none;
}

.toggleBtn{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}