.mainContainer {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.sideBar {
    width: 28%;
    border-top: 1px solid rgb(125, 158, 184);
    border-right: 1px solid rgb(125, 158, 184);

    padding: 10px;

}

.storeContainer {
    width: 71%;
    border-top: 1px solid rgb(125, 158, 184);
    padding: 20px;
}



.searchContainer{
    min-width: 150px;
    width: 250px;
    height: 30px;
    margin: auto 0 21px 6px;

}

.fullSizeStore{
    float: left;
    width: 100%;
}

.minHeight{
    margin-top: 10px;
    min-height: 30px;
}

.minimizeSideBar{
    display: none;
}

.toggleBtn{
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}