.mainContainer {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.sideBar {
    width: 28%;
    border-top: 1px solid rgb(125, 158, 184);
    padding: 10px;

}

.storeContainer {
    width: 71%;
    border-left: 1px solid rgb(125, 158, 184);
    border-top: 1px solid rgb(125, 158, 184);
    padding: 20px;
}

.shoppingHeader{
    display: flex;
    margin: 25px;
    align-items: center;
}
.categoriesNav{
   margin-left: 100px;
}
.searchContainer{
    width: 20%
}
