<div class="minHeight">
    <app-categories [activeCategory]="activeCategory">
    </app-categories>
</div>
<button class="toggleBtn" (click)="toggleShow()">
    <fa-icon *ngIf="!isShown" [icon]="faAngleRight"></fa-icon>
    <fa-icon aria-hidden="true" *ngIf="isShown" [icon]="faAngleLeft"></fa-icon>

</button>

<!-- <div class="mainContainer"> -->
<div class="container">
    <div class="row gy-5">
        <div  [class.minimizeSideBar]="isShown == false" class="sideBar col-lg-4">
            <app-cart *ngIf="mode!=Mode.Admin"></app-cart>
            <app-admin-management *ngIf="mode==Mode.Admin"></app-admin-management>
        </div>
        <div [class.fullSizeStore]="isShown == false" class="storeContainer col-lg-8">
            <app-products></app-products>
        </div>
    </div>

</div>