<div class="shoppingHeader">
 
    <div class="input-group searchContainer">
        <input class="form-control py-2 rounded-pill mr-1 pr-5" type="search"placeholder="Search" [(ngModel)]="searchWord" (keydown.enter)="searchProduct()"> 
    </div>

    <app-categories [activeCategory]="activeCategory" (categorySelected)="onCategorySelected($event)">
    </app-categories>
    
</div>

<div class="mainContainer">
    <div class="sideBar">
        <app-cart *ngIf="mode!=Mode.Admin"></app-cart>
        <app-admin-management *ngIf="mode==Mode.Admin"></app-admin-management>
    </div>
    <div class="storeContainer">
        <app-products></app-products>
    </div>
</div>