.cartItemContainer {
    display: flex;
    width: 90%;
    max-width: 334px;
    height: 200px;
    padding: 10px;
    gap: 10px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.deleteItemBtn:hover {
    cursor: pointer;
}

::ng-deep .highlighted-text {
    background-color: yellow;
}

.itemImage {
    max-width: 50%;
}

.cartItemTitle {
    font-size: 18px;
}