.storeInfoContainer{
    background-color: #ffeee7;
    height: 100%;
    padding: 15px;

}
.storeInfoImg {
    display: block;
    width:85%;
    margin: 20px auto;
}

.storeInfoParagraph{
    font-size: 22px;
    font-family: sans-serif;
    color: #476e69;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customerNotification{
    padding: 15px;

}