<div class="register2Container">

    <form class="formContainer" [formGroup]="signupForm">

        <div>
            <label for="city">city</label>
            <select class="form-select" formControlName="city">
                <option *ngFor="let city of cities" [ngValue]="city">
                    {{ city }}
                </option>
            </select>
            <span class="errorMsg" *ngIf="!signupForm.get('city')?.valid &&  signupForm.get('city')?.touched">
                Please choose a city
            </span>
        </div>

        <div>
            <label for="street">Street</label>
            <input type="text" id="street" formControlName="street" class="form-control">
            <span class="errorMsg" *ngIf="!signupForm.get('street')?.valid &&  signupForm.get('street')?.touched">
                Please enter a valid street
            </span>
        </div>

        <div>
            <label for="firstName"> First Name</label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control">
            <span class="errorMsg" *ngIf="!signupForm.get('firstName')?.valid &&  signupForm.get('firstName')?.touched">
                Please enter a valid first Name
            </span>
        </div>

        <div>
            <label for="lastName"> Last Name </label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control">
            <span class="errorMsg" *ngIf="!signupForm.get('firstName')?.valid &&  signupForm.get('firstName')?.touched">
                Please enter a valid last Name
            </span>
        </div>
        
    </form>

    <button class="btn btn-primary submitBtn" type="submit" (click)="onSubmitClicked()" [disabled]="!signupForm.valid">Submit</button>
</div>