.register2Container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(142 196 231 / 13%);
    padding: 48px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap:10px
}

.submitBtn{
    margin: auto;
}

input.ng-invalid.ng-touched{
    border: 1px solid red
}

select.ng-invalid.ng-touched{
    border: 1px solid red
}

.errorMsg{
    font-size: 13px;
}