.checkoutPageContainer {
    margin-top: 40px;
}

.cartPreview {
    padding: 10px;
    background-color: #efe2e24f;
    border-radius: 10px;
}

.rowCon {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.checkoutForm{
    padding: 0;
}