<div class="cartPreviewContainer">
  <div class="cartHeader">
    <div class="cartHeaderTitle">Shopping Cart <fa-icon [icon]="faShoppingCart"></fa-icon>
    </div>


    <div class="input-group searchContainer">
      <input class="form-control py-2 rounded-pill mr-1 pr-5" type="search" placeholder="Search"
        [(ngModel)]="searchedText">
    </div>
  </div>


  <app-cart  [searchedText]="searchedText"></app-cart>


  <div class="cartPreviewFooter">

    <div>
      <button (click)="onBackClicked()" class="btn btn-primary backBtn">
        <fa-icon [icon]="faLongArrowLeft"></fa-icon> Back to shop
      </button>
    </div>

    <div>No Changes Permitted Here</div>

  </div>


</div>