<div class="cartContainer"></div>
<div class="cartItemsContainer">
    <app-cart-item [searchedText]="searchedText" *ngFor="let cartItem of (cartItems$ | async)" [cartItem]="cartItem">
    </app-cart-item>
</div>
<div> total price: {{totalPrice}}</div>
<div class="actionBtnsContainer">
    <button class="btn btn-light" *ngIf="mode=='store'" (click)="onEmptyCartClicked()">Empty Cart</button>

    <button class="btn btn-primary" *ngIf="mode=='store'" (click)="onCheckoutClicked()">Checkout</button>

</div>