<div class="cartContainer">

    <div *ngIf="mode==Mode.Store" class="cartHeader">
        <div class="cartHeaderTitle">Shopping Cart <fa-icon [icon]="faShoppingCart"></fa-icon>
        </div>
        <button type="button" class="btn btn-light"  (click)="onEmptyCartClicked()">Empty Cart</button>
    </div>



    <div class="cartItemsContainer">
        <app-cart-item [searchedText]="searchedText" *ngFor="let cartItem of (cartItems$ | async)"
            [cartItem]="cartItem">
        </app-cart-item>
    </div>



    <div class="activeCartFooter">
        <div class="cartPrice"> Total Price: {{totalPrice | currency:'USD'}}</div>

        <button class="btn btn-primary" [disabled]="cartItemsLen==0" *ngIf="mode==Mode.Store" (click)="onCheckoutClicked()">Checkout</button>

    </div>

</div>