<div class="register1Container">

    <form class="formContainer" [formGroup]="signupForm">
        
        <div>
            <label for="governmentId">Government Id</label>
            <input type="text" id="governmentId" formControlName="governmentId" class="form-control"
                placeholder="123456789">
            <span class="errorMsg"
                *ngIf="signupForm.get('governmentId')?.status=='INVALID' &&  signupForm.get('governmentId')?.touched">
                Please enter a valid government Id
            </span>
        </div>

        <div>
            <label for="email">Email Address</label>
            <input type="text" id="email" formControlName="email" class="form-control" placeholder="your@example.com">
            <span class="errorMsg"
                *ngIf="signupForm.get('email')?.status=='INVALID'  &&  signupForm.get('email')?.touched">
                Please enter a valid email
            </span>
        </div>

        <div class="passwordsFeilds" formGroupName="passwordsFeilds">
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" formControlName="password" class="form-control"
                    placeholder="Enter your password">
                <span class="errorMsg"
                    *ngIf="!signupForm.get('passwordsFeilds.password')?.valid &&  signupForm.get('passwordsFeilds.password')?.touched">
                    Please enter a valid password
                </span>
            </div>

            <div>
                <label for="confirmedPassword">Confirmed Password</label>
                <input type="text" id="confirmedPassword" formControlName="confirmedPassword" class="form-control"
                    placeholder="Confirm your password">
                <span class="errorMsg"
                    *ngIf="!signupForm.get('passwordsFeilds.confirmedPassword')?.valid &&  signupForm.get('passwordsFeilds.confirmedPassword')?.touched">
                    Please enter a valid confirmed Password
                </span>
            </div>

            <span class="errorMsg"
                *ngIf="!signupForm.get('passwordsFeilds')?.valid &&  signupForm.get('passwordsFeilds')?.touched">
                Passwords do not match
            </span>
        </div>

    </form>
    <button (click)="onNextClicked()" class="btn btn-primary nextBtn" [disabled]="!signupForm.valid">Next</button>
</div>