.register1Container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px auto;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(142 196 231 / 13%);
    padding: 48px;
    min-width: 470px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 40%;
}

.passwordsFeilds{
    display: flex;
    flex-direction: column;
    gap:10px
}
.nextBtn{
    margin: auto;
}

input.ng-invalid.ng-touched{
    border: 1px solid red
}

.errorMsg{
    font-size: 13px;
    color: rgb(241 4 4 / 87%);

}
.registerInput{
    min-width: 185px;
}