<div class="card cardContainer">
    <div [class.hoverImg] = "mode=='store'" class="img" (click)="onOpenModal(modalTemplate)">
        <fa-icon class="editBtn" (click)="onEditClicked()" *ngIf="mode=='admin'" [icon]="faPencil"></fa-icon>
        <img class="card-img-top productImg" src={{productItem.imgUrl}}><br>
    </div>
    <div class="cardDetailsContainer">
        <div class="card-title">{{productItem.name}}</div>
        <div>Price: {{productItem.price}}</div>
    </div>


    <ng-template #modalTemplate>
        <div><img class="modalImg" src={{productItem.imgUrl}}><br>
        <div class="modalTitle">{{productItem.name}}</div>
            <div class="quantityField input-group">
                <input type="number" class="form-control quantityInput" [(ngModel)]="productQuantity" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button (click)="onQuantityClicked()" class="btn btn-primary" type="button">ok</button>
                </div>
            </div>
        </div>

    </ng-template>

</div>