.cardContainer {
    height: 300px;

}

.cardDetailsContainer {
    display: flex;
    justify-content: space-between;
}

.productImg {
    width: 100%;
    min-height: 404px;  
     object-fit: contain;
}

.editBtn {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

.editBtn:hover {
    cursor: pointer;
}