.cardContainer {
    /* height: 300px; */
    width: 33%;
    display: inline;
    border: none;
}

.cardDetailsContainer {
    display: flex;
    justify-content: space-between;
    height: 10%;

}

.productImg {
    max-width: 100%;
    max-height: 100%;
}

.editBtn {
    position: absolute;
    top: 5px;
    right: 7px;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

.editBtn:hover {
    cursor: pointer;
}

.img {
    height: 90%;
    position: relative;
}

.quantityField {
    position: absolute;
    bottom: 7%;
    left: 34%;
    width: 120px;
}

.quantityInput {
    background: #e7e6e6f2;

}

.modalImg {
    position: relative;
    height: 472px;
    width: 398px;
}


::ng-deep .modal-dialog {
    max-width: 412px !important;
    ;
    width: 400px !important;
}

.hoverImg:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modalTitle {
    position: absolute;
    margin: auto;
    top: 5px;

}