.receiptContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 25px;
    width: 45%;
    border-radius: 15px;
    background-color: rgb(112 231 124 / 13%);
    gap: 20px;
    min-width: 367px;
}

.receiptPageImg{
    width: 234px;
    max-width: 54%;
}

.receiptTitle{
    font-size: 30px;
    font-family: revert;
}

.thankYouMsg{
    display: flex;
    align-items: center;
    gap: 5px;
}
.downloadReciect{
    outline: none;
    color: blue;
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
}